<% include ../templates/header.ejs %>

<style type="text/css">
#createEventModal {
   width:340px;
   margin:0 auto;
}
#left_col {
   float:left;
   width:100px;
}
#right_col {
   float:right;
   width:100px;
}
</style>

<div id="createEvent"
     data-ng-app="eventModule"
     data-ng-controller="createEventController"
     style="display:none">

  <% include ../templates/menu.ejs %>

  </br>
  <div id="createEventModal"
       class="modal-dialog">
  <div class="modal-content">

  <div class="panel panel-info"
       style="width: 100%; ">

    <% include ../templates/pagetitle.ejs %>

    <div class="panel-body" >
      <div class="container">

        <% include ../templates/message.ejs %>

        <form class="navbar-form navbar-left"
              role="search"
              method="POST"
              name="formCreateEvent"
              novalidate="">

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
              <div class="form-group">
                <div ng-class="{'has-error': validateEventSensorId.containsValidationError}">

                  <label for="sensorId">
                    {{label.createmenu_eventSensorNumber}}
                  </label>

                  <select id="eventSensorId"
                          class="form-control"
                          name="eventSensorId"
                          ng-model="eventData.eventSensorId"
                          style="width: 100%;"
                          ngRequired>
                    <option value="">
                      {{label.createmenu_selectSensorNum}}
                    </option>
                    <option data-ng-repeat = "sensorData in sensorsData"
                             value = {{sensorData.id}} > {{sensorData.num}}
                  </select>

                  <label class="help-block text-danger" for="eventSensorId"
                          data-ng-show="validateEventSensorId.containsValidationError">
                     {{ validateEventSensorId.errorMessage }}
                  </label>

                  <label class="help-block text-danger" for="eventSensorId"
                          data-ng-show="!validateEventSensorId.containsValidationError">
                    <br/>
                  </label>

                </div>
              </div>
            </div>
          </div>

          <br/>

          <!-- https://material.angularjs.org/latest/demo/datepicker -->
          <!-- https://www.youtube.com/watch?v=VKRuSryBaNk#t=62.097994 -->

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
              <div class="form-group">
                <div ng-class="{'has-error': validateEventTime.containsValidationError}">

                  <label for="eventTime">
                    {{label.createmenu_eventTime}}
                  </label>

                  <div id="eventTime"
                       class='input-group date'
                       datetimepicker
                       ng-model="eventTime">
                    <input type='text'
                           class="form-control"
                           data-format="dd/MM/yyyy hh:mm:ss"
                           ng-model="eventTime"
                           readonly/>
                    <span class="input-group-addon">
                      <span class="glyphicon glyphicon-time">
<!--              <span class="glyphicon glyphicon-calendar"> -->
                      </span>
                    </span>
                  </div>

<!--
                  <input id="eventTime"
                         class="form-control"
                         type="datetime-local"
                         step="1"
                         placeholder="Event Time"
                         name="eventTime"
                         ng-model="eventData.eventTime"
                         ng-maxlength="40"
                         style="width: 100%;">
                  </input>
-->
                  <label class="help-block text-danger" for="eventTime"
                          data-ng-show="validateEventTime.containsValidationError">
                     {{ validateEventTime.errorMessage }}
                  </label>

                  <label class="help-block text-danger" for="eventTime"
                          data-ng-show="!validateEventTime.containsValidationError">
                    <br/>
                  </label>
                </div>
              </div>
            </div>
          </div>

          <br/>

          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="modal-footer">
              <div class="row"
                   align="center">
                <div class="form-group"
                     style="padding-left: 0%;">
                  <button type="button"
                          class="btn btn-primary"
                          ng-disabled="!formCreateEvent.$valid"
                          ng-click="createEvent(eventData)">
                    {{label.createmenu_createEvent}}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
  </div>
  </div>
</div>


<script type='text/javascript' src="/javascripts/jquery-2.2.4.min.js"></script>

<!-- JQuery do not work
<script src='/bower_components/jquery/dist/jquery.js'></script>
-->
<script type="text/javascript" src="/javascripts/moment.min.js"></script>

<!-- Angular core -->
<script src='/bower_components/angular/angular.js'></script>
<script src='/bower_components/angular-messages/angular-messages.js'></script>

<script src='/javascripts/bootstrap-datetimepicker.js'></script>

<script src='/app/lang/langModule.js'></script>
<script src="/app/lang/langService.js"></script>
<script src="/app/lang/langJQuery.js"></script>

<script src='/app/event/eventModule.js'></script>
<script src='/app/event/eventService.js'></script>
<script src='/app/event/eventDirective.js'></script>
<script src='/app/event/eventLangController.js'></script>
<script src='/app/event/createEventController.js'></script>
<script src='/app/event/createEventJQuery.js'></script>


<% include ../templates/footer.ejs %>
