<% include ../templates/header.ejs %>

<link type='text/css' rel='stylesheet' href='/stylesheets/dataTables.bootstrap.min.css'>

<style type="text/css">
#listEventModal {
   width:100%;
   margin:0 auto;
}
#left_col {
   float:left;
   width:100px;
}
#right_col {
   float:right;
   width:100px;
}
</style>

<div id="listEvent"
     align="center"
     data-ng-app="eventModule"
     data-ng-controller="listEventController"
     style="display:none">

  <% include ../templates/menu.ejs %>

  <% include eventMenu.ejs %>

  </br>
  <div id="listEventModal"
       class="modal-dialog"
       style="display:none">
  <div class="modal-content">

  <div class="panel panel-info">

    <% include ../templates/pagetitle.ejs %>

    </br>
    <div class="container" style="width:100%;">

      <% include eventGrid.ejs %>

    </div>
  </div>
  </div>
  </div>

  <% include deleteEvent.ejs %>

</div> <!-- listEventController -->



<script type='text/javascript' src="/javascripts/jquery-2.2.4.min.js"></script>

<script type='text/javascript' src='/javascripts/jquery.dataTables.min.js'></script>
<script type='text/javascript' src='/javascripts/dataTables.bootstrap.min.js'></script>

<!-- JQuery do not work
<script src='/bower_components/jquery/dist/jquery.js'></script>
-->
<script type="text/javascript" src="/javascripts/moment.min.js"></script>

<!-- Angular core -->
<script src='/bower_components/angular/angular.min.js'></script>
<script src='/bower_components/angular-messages/angular-messages.js'></script>

<script src='/javascripts/bootstrap-datetimepicker.js'></script>

<script src='/app/lang/langModule.js'></script>
<script src="/app/lang/langService.js"></script>
<script src="/app/lang/langJQuery.js"></script>

<script src='/app/event/eventModule.js'></script>
<script src='/app/event/eventService.js'></script>
<script src='/app/event/eventDirective.js'></script>
<script src='/app/event/eventLangController.js'></script>
<script src='/app/event/listEventController.js'></script>
<script src='/app/event/listEventJQuery.js'></script>

<% include ../templates/footer.ejs %>
