<% include templates/header.ejs %>

<style type="text/css">
#createPin {
   width:290px;
   margin:0 auto;
}
#left_col {
   float:left;
   width:100px;
}
#right_col {
   float:right;
   width:100px;
}
</style>

<div id="createPin"
     data-ng-app="pinModule"
     data-ng-controller="createPinController"
     style="display:none">

  <% include templates/menu.ejs %>

  </br>

  <div class="panel panel-info"
       style="width: 100%;"
       align="left">

    <% include templates/pagetitle.ejs %>

    <div class="panel-body" >
      <div class="container">

        <% include ./message.ejs %>

        <form class="navbar-form navbar-left"
              role="search"
              method="POST"
              name="formCreatePin"
              novalidate="">

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
              <div class="form-group">
                <div ng-class="{'has-error': validatePinBOARD.containsValidationError}">

                  <label for="PinBOARD">
                    {{label.createmenu_pinBOARD}}
                  </label>

                  <input id="PinBOARD"
                         class="form-control"
                         type="text"
                         placeholder={{label.createmenu_enterPinBOARD}}
                         name="pinNumber"
                         ng-model="pinData.pinBOARD"
                         ng-maxlength="40"
                         style="width: 100%;"
                         required>
                  </input>
                  <label class="help-block text-danger" for="pinNumber"
                          data-ng-show="validatePinBOARD.containsValidationError">
                     {{ validatePinBOARD.errorMessage }}
                  </label>

                  <label class="help-block text-danger" for="pinNumber"
                          data-ng-show="!validatePinBOARD.containsValidationError">
                    <br/>
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
              <div class="form-group">
                <div ng-class="{'has-error': validatePinBCM.containsValidationError}">

                  <label for="PinBCM">
                    {{label.createmenu_pinBCM}}
                  </label>

                  <input id="PinBCM"
                         class="form-control"
                         type="text"
                         placeholder={{label.createmenu_enterPinBCM}}
                         name="pinNumber"
                         ng-model="pinData.pinBCM"
                         ng-maxlength="40"
                         style="width: 100%;"
                         required>
                  </input>
                  <label class="help-block text-danger" for="PinBCM"
                          data-ng-show="validatePinBCM.containsValidationError">
                     {{ validatePinBOARD.errorMessage }}
                  </label>

                  <label class="help-block text-danger" for="PinBCM"
                          data-ng-show="!validatePinBCM.containsValidationError">
                    <br/>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <br/>
<!--
            <div class="row">
              <div class="form-group ">
                <label for="sensorId">
                  {{label.createmenu_sensorNumber}}
                </label>

                <select id="sensorId"
                        class="form-control"
                        name="sensorType"
                        ng-model="sensorData.sensorTypeId"
                        style="width: 90%;"
                        required>
                  <option value="">
                    {{label.createmenu_selectSensor}}
                  </option>
                  <option data-ng-repeat = "sensorData in sensorsData"
                           value = {{sensorData.id}} > {{sensorData.location}}
                </select>
              </div>
            </div>
-->
          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="modal-footer">
              <div align="center"
                   class="row">
                <div class="form-group"
                     style="padding-left: 0%;">
                  <button type="button"
                          class="btn btn-primary"
                          ng-disabled="!formCreatePin.$valid"
                          ng-click="createPin(pinData)">
                    {{label.createmenu_createPin}}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



<script type='text/javascript' src="/javascripts/jquery-2.2.4.min.js"></script>

<!-- JQuery do not work
<script src='/bower_components/jquery/dist/jquery.js'></script>
-->

<!-- Angular core -->
<script src='/bower_components/angular/angular.js'></script>
<script src='/bower_components/angular-messages/angular-messages.js'></script>

<script src='/app/lang/langModule.js'></script>
<script src="/app/lang/langService.js"></script>
<script src="/app/lang/langJQuery.js"></script>

<script src='/app/pin/pinModule.js'></script>
<script src='/app/pin/pinService.js'></script>
<script src="/app/pin/pinLangController.js"></script>
<script src='/app/pin/createPinController.js'></script>

<% include templates/footer.ejs %>
