<% include templates/header.ejs %>

<style type="text/css">
#createSensor {
   width:380px;
   margin:0 auto;
}
#left_col {
   float:left;
   width:100px;
}
#right_col {
   float:right;
   width:100px;
}
</style>

<div id="createSensor"
     data-ng-app="sensorModule"
     data-ng-controller="createSensorController"
     style="display:none">

  <% include templates/menu.ejs %>

  </br>

  <div class="panel panel-info"
       style="width: 100%; ">

    <% include templates/pagetitle.ejs %>

    <div class="panel-body" >
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="container">

          <% include ./message.ejs %>

          <form class="navbar-form navbar-left"
                role="search"
                method="POST"
                name="formCreateSensor"
                novalidate="">

            <div class="row">
              <div class="form-group">
                <div ng-class="{'has-error': validateSensorNumber.containsValidationError}">

                  <label for="sensorNumber">
                    {{label.createmenu_sensorNumber}}
                  </label>

                  <input id="sensorNumber"
                         class="form-control"
                         type="text"
                         placeholder="Enter Sensor Number"
                         name="sensorNumber"
                         ng-model="sensorData.sensorNumber"
                         ng-maxlength="40"
                         style="width: 110%;"
                         required>
                  </input>
                  <label class="help-block text-danger" for="sensorNumber"
                          data-ng-show="validateSensorNumber.containsValidationError">
                     {{ validateSensorNumber.errorMessage }}
                  </label>

                  <label class="help-block text-danger" for="sensorNumber"
                          data-ng-show="!validateSensorNumber.containsValidationError">
                    <br/>
                  </label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="form-group ">
                <label for="sensorTypeId">
                  {{label.createmenu_sensorModel}}
                </label>

                <select id="sensorTypeId"
                        class="form-control"
                        name="sensorType"
                        ng-model="sensorData.sensorTypeId"
                        style="width: 90%;"
                        required>
                  <option value="">
                    {{label.createmenu_selectSensorType}}
                  </option>
                  <option data-ng-repeat = "sensorType in sensorTypes"
                           value = {{sensorType.id}} > {{sensorType.model}}
                </select>
              </div>
            </div>

            <br/>

            <div class="row">
              <div class="form-group" >
                <label for="sensorLocation">
                  {{label.createmenu_sensorLocation}}
                </label>

                <textarea id="sensorLocation"
                          class="form-control"
                          placeholder="Enter Sensor Location"
                          name="sensorLocation"
                          rows="2"
                          cols="20"
                          ng-model="sensorData.sensorLocation"
                          style="width: 100%;">
                </textarea>
              </div>
            </div>

            </br>


            <div align="center"
                 class="row">
              <div class="form-group"
                   style="padding-left: 0%;">
                <button type="button"
                        class="btn btn-primary"
                        ng-disabled="!formCreateSensor.$valid"
                        ng-click="createSensor(sensorData)">
                  {{label.createmenu_createSensor}}
                </button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Angular core -->
<script src='/bower_components/angular/angular.js'></script>
<script src='/bower_components/angular-messages/angular-messages.js'></script>

<script src='/app/lang/langModule.js'></script>
<script src="/app/lang/langService.js"></script>

<script src='/app/sensor/sensorModule.js'></script>
<script src='/app/sensor/sensorService.js'></script>
<script src='/app/sensor/createSensorController.js'></script>

<% include templates/footer.ejs %>
