
<div id="deletePinModal"
     class="modal fade"
     tabindex="-1"
     role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header modal-header-danger">
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{ label.deletePin_modalTitle }}</h4>
      </div>

      <div class="modal-body">
        <br/>
        <p>{{ label.deletePin_message }} <strong> {{ pinData.pinBCM }} </strong> !!! &hellip;</p>
      </div>

      <div class="modal-footer">
        <button type="button"
                class="btn btn-default"
                data-dismiss="modal">
          {{ label.deletePin_close }}
        </button>
        <button type="button"
                class="btn btn-primary"
                data-ng-click="deleteSensorType()">
          {{ label.deletePin_delete }}
        </button>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
