
<div id="deleteEventModal"
     class="modal fade"
     tabindex="-1"
     role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header modal-header-danger">
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{ label.deleteEvent_modalTitle }}</h4>
      </div>

      <div class="modal-body">
        <br/>
        <p>{{ label.deleteEvent_message }} !!! &hellip;</p>
        <p> <strong> {{ eventData.eventSensorId }} </strong> </p>
        <p> <strong> {{ eventData.eventTime }} </strong> </p>
      </div>

      <div class="modal-footer">
        <button type="button"
                class="btn btn-default"
                data-dismiss="modal">
          {{ label.deleteEvent_close }}
        </button>
        <button type="button"
                class="btn btn-primary"
                data-ng-click="deleteEvent()">
          {{ label.deleteEvent_delete }}
        </button>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
