<% include templates/header.ejs %>

<style type="text/css">
#editSensorType {
   width:400px;
   margin:0 auto;
}
#left_col {
   float:left;
   width:100px;
}
#right_col {
   float:right;
   width:100px;
}
</style>

<div id="editSensorType"
     data-ng-app="sensorTypeModule"
     data-ng-controller="editSensorTypeController"
     style="display:none">

  <% include templates/menu.ejs %>

  <div class="panel panel-info"
       style="width: 100%;"
       align="left">

    <% include templates/pagetitle.ejs %>

    <div class="panel-body" >
      <div class="container">

        <% include ./message.ejs %>

        <form class="navbar-form navbar-left"
              role="search"
              method="POST"
              name="formEditSensorType"
              novalidate="">

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
              <div class="form-group">
                <div ng-class="{'has-error': validateSensorNumber.containsValidationError}">

                  <label id="nodeSensorType" hidden>
                    { "id" : "<%= sensorType[0].id %>",
                      "model" : "<%= sensorType[0].model %>",
                      "obs" : "<%= sensorType[0].obs %>"
                    }
                  </label>

                  <br/>

                  <label for="sensorModel"> Sensor Model </label>

                  <input id="sensorModel"
                         type="text"
                         class="form-control"
                         placeholder="Enter Sensor Model"
                         name="sensorModel"
                         ng-model="sensorType.sensorModel"
                         style="width: 100%;"
                         required>

                  </input>

                  <label class="help-block text-danger" for="sensorModel"
                          data-ng-show="validateSensorNumber.containsValidationError">
                     {{ validateSensorNumber.errorMessage }}
                  </label>

                  <label class="help-block text-danger" for="sensorModel"
                          data-ng-show="!validateSensorNumber.containsValidationError">
                    <br/>
                  </label>

                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
              <div class="form-group" >
                <label for="sensorObs"> Obs: </label>

                <textarea
                       class="form-control"
                       placeholder="Obs"
                       name="sensorObs"
                       id="sensorObs"
                       rows="2"
                       cols="29"
                       ng-model="sensorType.sensorObs"
                       style="width: 100%;"
                       >
                </textarea>
              </div>
            </div>
          </div>
          </br>

          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="modal-footer">
              <div class="row"
                   align="center">
                <div class="form-group"
                     style="padding-left: 0%;">
                  <button type="button"
                          class="btn btn-primary"
                          ng-disabled="!formEditSensorType.$valid"
                          ng-click="updateSensorType(sensorType)">
                    {{label.editmenu_updateSensorType}}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



<script src='/bower_components/jquery/dist/jquery.js'></script>

<!-- Angular core -->
<script src='/bower_components/angular/angular.min.js'></script>
<script src='/bower_components/angular-messages/angular-messages.js'></script>

<script src='/app/lang/langModule.js'></script>
<script src='/app/lang/langService.js'></script>

<script src='/app/sensorType/sensorTypeModule.js'></script>
<script src='/app/sensorType/sensorTypeService.js'></script>
<script src='/app/sensorType/editSensorTypeController.js'></script>



<% include templates/footer.ejs %>
