<% include templates/header.ejs %>



<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>

<script src='/javascripts/jquery-2.2.4.min.js'></script>

<% include templates/footer.ejs %>
