<style>
.txtbox
    {
     font-size:18pt;
     height:420px;
     width:200px;
    }
</style>

<table id="tbleventData"
       data-ng-show="eventsData.length > 0"
       class="table table-striped table-hover table-bordered table-condensed"
       style="width:100%;">

  <thead>
    <tr class="success">
      <td ng-click="sort('id')"
          style="width: 10%">
          Event Id
          <b ng-show="sortKey != 'id'"
            class="fa fa-sort"
            aria-hidden="true">
          </b>
          <b ng-show="sortKey == 'id'"
             ng-class="{'fa fa-sort-asc':reverse,
                        'fa fa-sort-desc':!reverse}">
          </b>
      </td>
      <td ng-click="sort('sensor_id')"
          style="width: 10%">
        Sensor Id
        <b ng-show="sortKey != 'sensor_id'"
          class="fa fa-sort"
          aria-hidden="true">
        </b>
        <b ng-show="sortKey == 'sensor_id'"
           ng-class="{'fa fa-sort-asc':reverse,
                      'fa fa-sort-desc':!reverse}">
        </b>
        <input ng-model="searchText.sensor_id"
               type="text"
               class="form-control"
               style="font-size:6pt;height:20px;width:100px;"
               placeholder="Search for...">
      </td>
      <td ng-click="sort('time')"
          style="width: 20%">
         Time
         <b ng-show="sortKey != 'time'"
           class="fa fa-sort"
           aria-hidden="true">
         </b>
         <b ng-show="sortKey == 'time'"
            ng-class="{'fa fa-sort-asc':reverse,
                       'fa fa-sort-desc':!reverse}">
         </b>
         <div class="form-group">
           <div class="col-md-8">
             <div class="form-group row">
               <label for="inputStartTime"
                      class="col-md-4 control-label"
                      style="font-size:7pt;">Start :</label>
               <div class="col-md-4">
               <input id="inputStartTime"
                      ng-model="searchText.startTime"
                      ng-model-options="{ getterSetter: true }"
                      type="date"
                      datetime="dd-MM-yyyy HH:mm:ss"
                      class="form-control"
                      style="font-size:7pt;height:20px;width:150px;"
                      placeholder="Search for...">
                </input>
              </div>
              <br/>
              <label for="inputEndTime"
                     class="col-md-4 control-label"
                     style="font-size:7pt;">End :  </label>
              <div class="col-md-4">
              <input id="inputEndTime"
                     ng-model="searchText.endTime"
                     ng-model-options="{ getterSetter: true }"
                     type="date"
                     datetime="dd-MM-yyyy HH:mm:ss"
                     class="form-control"
                     style="font-size:7pt;height:20px;width:150px;"
                     placeholder="Search for...">
               </input>
             </div>
           </div>
          </div>
         </div>
       </td>
      <td style="width: 40%">  </td>
    </tr>
  </thead>

  <tbody id='tblsensorDataBody'>
    <tr data-ng-repeat="eventData in eventsData | filter: matchSelection | orderBy: sortKey: reverse">
      <td>{{eventData.id}}</td>
      <td>{{eventData.sensor_id}}</td>
      <td>{{eventData.act_time | date:'dd-MM-yyyy HH:mm:ss'}}</td>
      <td class="info">

        <button id="buttonDeleteEvent"
                type="button"
                class="btn btn-warning btn-sm"
                data-toggle="modal"
                data-target="#deleteEventModal"
                data-ng-click="loadEvent(eventData)">
           <i class="glyphicon glyphicon-erase"
              aria-hidden="true" ></i>
           <span>Delete</span>
        </button>

      </td>
    </tr>
  </tbody>
</table>
