
<% include templates/header.ejs %>



<div  id="index"
      align="center"
      data-ng-app="langModule"
      data-ng-controller="langController"
      data-ng-init="loadLanguage()"
      style="display:none">

  <% include templates/menu.ejs %>

  <br/>
  <br/>
  
  <p>1. Was f&#252;r ein gro&#223;artiges Modul!</p>

  <p>3. {{ label.HEADLINE }}</p>


  <button class="btn btn-primary"
          style="display: none;"
          ng-click="changeLanguage('en')">
          English
  </buton>
  <span> </span>
  <button class="btn btn-primary"
          style="display: none;"
          ng-click="changeLanguage('pt')">
          Português
  </button>
  <button class="btn btn-primary"
          style="display: none;"
          ng-click="changeLanguage('de')">
          German
  </button>

  </br>
  </br>
  </br>

  <style type="text/css">
  #wrap {
     width:200px;
     margin:0 auto;
  }
  #left_col {
     float:left;
     width:100px;
  }
  #right_col {
     float:right;
     width:100px;
  }
  </style>

  <div>
    <form ng-submit="addMessage()">

      <input type="text" id="username" placeholder="Your name !">
      <input type="text" id="msg"  placeholder="Your message !">
      <input type="submit" value="Send !" >

      </br>
      </br>

      <div id="wrap">
        <div data-ng-repeat="m in msg.slice().reverse()">
          <div id="left_col">
            <strong> {{m.author}} </strong>
          </div>
          <div id="right_col">
            <em> {{m.text}} </em>
          </div>
        </div>
      </div>

      </br>
      </br>

    </form>
  </div>
</div> <!-- controller -->


<script src='/bower_components/jquery/dist/jquery.js'></script>

<!-- Anguler  core -->
<script src='/bower_components/angular/angular.js'></script>
<script src='/bower_components/angular-messages/angular-messages.js'></script>
<script src="/socket.io/socket.io.js"></script>

<!-- GPIO -->
<script src='/app/lang/langModule.js'></script>
<script src="/app/lang/langController.js"></script>
<script src="/app/lang/langService.js"></script>
<script src="/app/socket/socketService.js"></script>
<!--
<script src="/app/socketClient/socketClient.js"></script>
-->
<% include templates/footer.ejs %>
