<% include templates/header.ejs %>


<div id="listEvent"
     align="center"
     data-ng-app="eventModule"
     data-ng-controller="listEventController"
     style="display:none">

  <% include templates/menu.ejs %>

  <% include eventMenu.ejs %>

  </br>

  <div class="panel panel-info">

    <% include templates/pagetitle.ejs %>

    </br>
    <div class="container" style="width:100%;">

      <% include eventGrid.ejs %>

    </div>
  </div>

  <% include deleteEvent.ejs %>

</div> <!-- listEventController -->



<script type='text/javascript' src="/javascripts/jquery-2.2.4.min.js"></script>

<!-- JQuery do not work
<script src='/bower_components/jquery/dist/jquery.js'></script>
-->
<script type="text/javascript" src="/javascripts/moment.min.js"></script>

<!-- Angular core -->
<script src='/bower_components/angular/angular.min.js'></script>
<script src='/bower_components/angular-messages/angular-messages.js'></script>

<script src='/javascripts/bootstrap-datetimepicker.js'></script>

<script src='/app/lang/langModule.js'></script>
<script src="/app/lang/langService.js"></script>
<script src="/app/lang/langJQuery.js"></script>

<script src='/app/event/eventModule.js'></script>
<script src='/app/event/eventService.js'></script>
<script src='/app/event/eventDirective.js'></script>
<script src='/app/event/eventLangController.js'></script>
<script src='/app/event/listEventController.js'></script>


<% include templates/footer.ejs %>
