<% include templates/header.ejs %>

<div id="listSensor"
     align="center"
     data-ng-app="sensorModule"
     data-ng-controller="listSensorController"
     style="display:none">

  <% include templates/menu.ejs %>

  </br>

  <div class="panel panel-info">

    <% include templates/pagetitle.ejs %>

    </br>

    <div class="container">

      <% include sensorGrid.ejs %>

    </div>
  </div>


  <% include editSensor.ejs %>
  <% include deleteSensor.ejs %>

</div> <!-- listSensorController -->


<script type='text/javascript' src="/javascripts/jquery-2.2.4.min.js"></script>

<!-- JQuery do not work
<script src='/bower_components/jquery/dist/jquery.js'></script>
-->

<!-- Angular core -->
<script src='/bower_components/angular/angular.min.js'></script>
<script src='/bower_components/angular-messages/angular-messages.js'></script>

<script src='/app/lang/langModule.js'></script>
<script src="/app/lang/langService.js"></script>
<script src="/app/lang/langJQuery.js"></script>

<script src='/app/sensor/sensorModule.js'></script>
<script src='/app/sensor/sensorService.js'></script>
<script src='/app/sensor/sensorLangController.js'></script>
<script src='/app/sensor/listSensorController.js'></script>


<% include templates/footer.ejs %>
