<% include templates/header.ejs %>

<div id="listSensorType"
     align="center"
     data-ng-app="sensorTypeModule"
     data-ng-controller="listSensorTypeController"
     style="display:none">

  <% include templates/menu.ejs %>

  </br>

  <div class="panel panel-info">

    <% include templates/pagetitle.ejs %>

    </br>

    <div class="container">

      <% include sensorTypeGrid.ejs %>

    </div>
  </div>

  <% include editSensorTypeModal.ejs %>
  <% include deleteSensorType.ejs %>

</div> <!-- listSensorTypeController -->




<script src='/bower_components/angular/angular.min.js'></script>
<script src='/bower_components/angular-messages/angular-messages.js'></script>

<script src='/app/lang/langModule.js'></script>
<script src="/app/lang/langService.js"></script>

<script src='/app/sensorType/sensorTypeModule.js'></script>
<script src='/app/sensorType/sensorTypeService.js'></script>
<script src='/app/sensorType/listSensorTypeController.js'></script>


<% include templates/footer.ejs %>
