<% include templates/header.ejs %>

<div id="listPin"
     align="center"
     data-ng-app="pinModule"
     data-ng-controller="listPinController"
     style="display:none">

  <% include templates/menu.ejs %>

  </br>

  <div class="panel panel-info">

    <% include templates/pagetitle.ejs %>

    </br>

    <div class="container">

      <% include pinGrid.ejs %>

    </div>
  </div>

  <% include editPin.ejs %>
  <% include deletePin.ejs %>


  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="form-group"
           style="padding-left: 0%;
                  margin-left: 30 ;">

        <pre><code>{{ pinData | json }}</code></pre>

      </div>
    </div>
  </div>

</div> <!-- listPinController -->



<script src='/bower_components/jquery/dist/jquery.js'></script>

<!-- Angular core -->
<script src='/bower_components/angular/angular.min.js'></script>
<script src='/bower_components/angular-messages/angular-messages.js'></script>

<script src='/app/lang/langModule.js'></script>
<script src="/app/lang/langService.js"></script>

<script src='/app/pin/pinModule.js'></script>
<script src='/app/pin/pinService.js'></script>
<script src='/app/pin/listPinController.js'></script>

<script src='app/pin/editPinJQuery.js'></script>


<% include templates/footer.ejs %>
