<table data-ng-show="sensorTypes.length > 0"
       class="table table-striped table-hover table-bordered table-condensed"
       id="tblDataType" style="width:100%;">

  <thead>
    <tr class="success">
      <td style="width: 10%"> Type Id </td>
      <td style="width: 20%"> Sensor Model </td>
      <td style="width: 30%"> Obs </td>
      <td style="width: 40%">  </td>
    </tr>
  </thead>

  <tbody id='tblsensorTypeDataBody'>
    <tr data-ng-repeat="sensorType in sensorTypes">
      <td>{{sensorType.id}}</td>
      <td>{{sensorType.model}}</td>
      <td>{{sensorType.obs}}</td>

      <td class="info">
<!--
        <button id='button_edit_sensor' class='btn btn-info btn-sm' data-toggle='modal'
            data-target='#editModal'
           >
           <i class="fa fa-pencil-square-o fa-fw" aria-hidden="true" ></i>
           <span>Edit</span>
        </button>
-->
        <!-- non modal for test
        <a class='btn btn-info btn-sm'
            href='/editSensorType/{{sensorType.id}}'>
           <i class="fa fa-pencil-square-o fa-fw"
              aria-hidden="true" >
           </i>
           <span>Edit</span>
        </a>
-->
        <button id="buttonEditSensorType"
                type="button"
                class="btn btn-info btn-sm"
                data-toggle="modal"
                data-target="#editSensorTypeModal"
                data-ng-click="loadSensorType(sensorType)">
           <i class="glyphicon glyphicon-erase"
              aria-hidden="true" ></i>
           <span>Edit</span>
        </button>

        <button id="buttonDeleteSensorType"
                type="button"
                class="btn btn-warning btn-sm"
                data-toggle="modal"
                data-target="#deleteSensorTypeModal"
                data-ng-click="loadSensorType(sensorType)">
           <i class="glyphicon glyphicon-erase"
              aria-hidden="true" ></i>
           <span>Delete</span>
        </button>

      </td>
    </tr>
  </tbody>
</table>
