
<div class="row"
     data-ng-show="true">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="form-group"
         style="padding-left: 0%;">
      <div ng-class="{'has-error': validateAlarmSet.containsValidationError}">
        <label for="alarmSet">
          {{label.createmenu_alarmSet}}
        </label>

        <span data-ng-show="showLang.show_PT" style="padding-left: 30px; display:inline-block;"></span>
        <span data-ng-show="showLang.show_EN" style="padding-left: 40px; display:inline-block;"></span>

        <input id="alarmSet"
               type="checkbox"
               onchange="setAlarmSetState()"
               data-checkbox-toggle="toggle"
               data-width="100"
               data-on="Ligado"
               data-off="Desligado"
               data-onstyle="success"
               data-offstyle="danger"
               data-size="small"
               ng-model="alarmSettings.armed">
        </input>
      </div>
    </div>
  </div>
</div>

<br/>

<div class="row"
     data-ng-show="true">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="form-group"
         style="padding-left: 0%;">
      <div ng-class="{'has-error': validateAlarmDuration.containsValidationError}">
        <label for="alarmPeriod">
          {{label.createmenu_alarmDuration}}
        </label>

        <span data-ng-show="showLang.show_PT" style="padding-left: 28px; display:inline-block;"></span>
        <span data-ng-show="showLang.show_EN" style="padding-left: 20px; display:inline-block;"></span>

        <input id="alarmPeriod"
               type="checkbox"
               onchange="setAlarmPeriodState(true)"
               data-checkbox-toggle="toggle"
               data-width="100"
               data-on="Permanente"
               data-off="Parcial"
               data-onstyle="success"
               data-offstyle="danger"
               data-size="small"
               ng-model="alarmSettings.allDay">
        </input>
      </div>
    </div>
  </div>
</div>
