<% include templates/header.ejs %>

<script type='text/javascript' src="/javascripts/jquery-2.2.4.min.js"></script>

<style type="text/css">
#setAlarmRPiModal {
   width:290px;
   margin:0 auto;
}
#left_col {
   float:left;
   width:100px;
}
#right_col {
   float:right;
   width:100px;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width: 180px;
}

</style>

<div id="setAlarmRPi"
     data-ng-app="alarmModule"
     data-ng-controller="setAlarmController"
     style="display:none">

  <% include templates/menu.ejs %>

  <br/>
  <div id="setAlarmRPiModal"
       class="modal-dialog">
  <div class="modal-content">

  <div class="panel panel-info"
       style="width: 100%;">

    <% include templates/pagetitle.ejs %>

    <div class="panel-body" >
      <div class="container">

        <% include ./message.ejs %>

        <form id="formSetAlarmRPi"
              class="navbar-form navbar-left"
              role="search"
              method="POST"
              name="formSetAlarmRPi"
              novalidate="">

              <pre><code>{{ alarmSettings | json }}</code></pre>

          <% include setAlarmToggle.ejs %>

          <br/>
          <label id="sP"> {{alarmSettings.startPeriod}} </label>

          <div id="startTime"
               class="row"
               style="width: 215px;">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="form-group">
                <div ng-class="{'has-error': validateStartTimeInput.containsValidationError}">

                  <label for="periodStartTime">
                    {{label.createmenu_alarmStartTime}}
                  </label>
                  <div id="periodStartTime"
                       class='input-group date'
                       timepicker
                       ng-model="alarmSettings.startPeriod">
                    <input id="periodStartTimeInput"
                           type='text'
                           class="form-control"
                           ng-model="alarmSettings.startPeriod"
                           required
                           readonly/>
                    <span class="input-group-addon">
                      <span class="glyphicon glyphicon-time">
<!--              <span class="glyphicon glyphicon-calendar"> -->
                      </span>
                    </span>
                  </div>

                  <label class="help-block text-danger" for="startTimeInput"
                          data-ng-show="validateStartTimeInput.containsValidationError">
                     {{ validateStartTimeInput.errorMessage }}
                  </label>

                  <label class="help-block text-danger" for="startTimeInput"
                          data-ng-show="!validateStartTimeInput.containsValidationError">
                    <br/>
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div id="endTime"
               class="row"
               style="width: 215px;">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="form-group">
                <div ng-class="{'has-error': validateEndTimeInput.containsValidationError}">
                  <label for="periodEndTime">
                    {{label.createmenu_alarmEndTime}}
                  </label>
                    <div id="periodEndTime"
                         class='input-group date'
                         timepicker
                         ng-model="alarmSettings.endPeriod">
                      <input id="periodEndTimeInput"
                             type='text'
                             class="form-control"
                             ng-model="alarmSettings.endPeriod"
                             readonly
                             required/>
                      <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time">
<!--              <span class="glyphicon glyphicon-calendar"> -->
                        </span>
                      </span>
                    </div>

                    <label class="help-block text-danger" for="endTimeInput"
                            data-ng-show="validateEndTimeInput.containsValidationError">
                       {{ validateEndTimeInput.errorMessage }}
                    </label>

                    <label class="help-block text-danger" for="endTimeInput"
                            data-ng-show="!validateEndTimeInput.containsValidationError">
                      <br/>
                    </label>
              	</div>
              </div>
            </div>
          </div>

<!--
          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
              <hr>
              <div class="row">
              <div class="form-group"
                     style="padding-left: 40%;">
                  <button type="button"
                          class="btn btn-primary"
                          ng-disabled="!formSetAlarmRPi.$valid"
                          ng-click="setAlarmConfig()">
                    {{label.createmenu_setAlarmSave}}
                  </button>
                </div>
            </div>
          </div>
-->
          <div class="row"
               align="center" >
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="form-group"
                   style="padding-left: 0%;">
                <div class="modal-footer" >
                 <button id="setAlarmSaveButton"
                         type="button"
                         class="btn btn-primary"
                         ng-disabled="!formSetAlarmRPi.$valid"
                         ng-click="setAlarmConfig(alarmSettings)">
                   {{label.createmenu_setAlarmSave}}
                 </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
  </div>
</div>

<!-- JQuery do not work
<script src='/bower_components/jquery/dist/jquery.js'></script>
-->
<script type="text/javascript" src="/javascripts/moment.min.js"></script>

<!-- Angular core -->
<script src='/bower_components/angular/angular.min.js'></script>
<script src='/bower_components/angular-messages/angular-messages.js'></script>

<script src='/javascripts/bootstrap-datetimepicker.js'></script>

<script src='/app/lang/langModule.js'></script>
<script src='/app/lang/langService.js'></script>
<script src="/app/lang/langJQuery.js"></script>

<script src='/app/alarm/alarmModule.js'></script>
<script src='/app/alarm/alarmService.js'></script>
<script src='/app/alarm/alarmDirective.js'></script>
<script src='/app/alarm/alarmLangController.js'></script>
<script src='/app/alarm/setAlarmController.js'></script>
<script src='/app/alarm/setAlarmJQuery.js'></script>




<% include templates/footer.ejs %>
