<% include ../templates/header.ejs %>

<style type="text/css">
#createSensorModal {
   width:340px;
   margin:0 auto;
}
#left_col {
   float:left;
   width:100px;
}
#right_col {
   float:right;
   width:100px;
}

.largeWidth {
    width: 450px;
}

.smallWidth {
    width: 380px;
}

.panel-borderless {
  border: 0;
  box-shadow: none;
}
</style>

<div id="createSensor"
     ng-style="{largeWidth: showLang.show_PT, smallWidth: showLang.show_EN}"
     data-ng-app="sensorModule"
     data-ng-controller="createSensorController"
     style="display:none;
            overflow-x:hidden;">

  <% include ../templates/menu.ejs %>

  </br>
  <div id="createSensorModal"
       class="modal-dialog">
  <div class="modal-content">

  <div class="panel panel-primary panel-borderless"
       style="width: 100%;
              height: 430px;
              overflow-y:hidden;
              overflow-x:hidden;"
       align="left">

    <% include ../templates/pagetitle.ejs %>

    <div class="panel-body well" >
      <div class="container">

        <% include ../templates/message.ejs %>

        <form class="navbar-form navbar-left"
              role="search"
              method="POST"
              name="formCreateSensor"
              novalidate="">

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
              <div class="form-group">
                <div ng-class="{'has-error': validateSensorNumber.containsValidationError}">

                  <label for="sensorNumber">
                    {{label.createmenu_sensorNumber}}
                  </label>
                  <div style="width: 240px;">
                    <input id="sensorNumber"
                           class="form-control"
                           type="text"
                           placeholder={{label.createmenu_enterSensorNumber}}
                           name="sensorNumber"
                           ng-model="sensorData.sensorNumber"
                           ng-maxlength="10"
                           style="width: 100%;"
                           required>
                    </input>
                  </div>
                  <label class="help-block text-danger" for="sensorNumber"
                          data-ng-show="validateSensorNumber.containsValidationError">
                     {{ validateSensorNumber.errorMessage }}
                  </label>

                  <label class="help-block text-danger" for="sensorNumber"
                          data-ng-show="!validateSensorNumber.containsValidationError">
                    <br/>
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
              <div class="form-group ">
                <label for="sensorTypeId">
                  {{label.createmenu_sensorModel}}
                </label>
                <div style="width: 240px;">
                  <select id="sensorTypeId"
                          class="form-control"
                          name="sensorType"
                          ng-model="sensorData.sensorTypeId"
                          ng-maxlength="40"
                          style="width: 100%;"
                          required>
                    <option  value="">
                      {{label.createmenu_selectSensorType}}
                    </option>
                    <option  data-ng-repeat = "sensorType in sensorTypes"
                             value = {{sensorType.id}} > {{sensorType.model}}
                  </select>
                </div>
              </div>
            </div>
          </div>
          <br/>

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
              <div class="form-group" >
                <label for="sensorLocation">
                  {{label.createmenu_sensorLocation}}
                </label>
                <div style="width: 240px;">
                  <textarea id="sensorLocation"
                            class="form-control"
                            placeholder={{label.createmenu_enterSensorLocation}}
                            name="sensorLocation"
                            rows="2"
                            cols="20"
                            ng-maxlength="40"
                            ng-model="sensorData.sensorLocation"
                            style="width: 100%;">
                  </textarea>
                </div>
              </div>
            </div>
          </div>
          </br>

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="modal-footer">
              <div class="row"
                   align="center">
                <div class="form-group"
                     style="padding-left: 0%;">
                  <button type="button"
                          class="btn btn-primary"
                          ng-disabled="!formCreateSensor.$valid"
                          ng-click="createSensor(sensorData)">
                    {{label.createmenu_createSensor}}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
  </div>
</div>



<script type='text/javascript' src="/javascripts/jquery-2.2.4.min.js"></script>

<!-- JQuery do not work
<script src='/bower_components/jquery/dist/jquery.js'></script>
-->

<!-- Angular core -->
<script src='/bower_components/angular/angular.js'></script>
<script src='/bower_components/angular-messages/angular-messages.js'></script>

<script src='/app/lang/langModule.js'></script>
<script src="/app/lang/langService.js"></script>
<script src="/app/lang/langJQuery.js"></script>

<script src='/app/sensor/sensorModule.js'></script>
<script src='/app/sensor/sensorService.js'></script>
<script src='/app/sensor/sensorLangController.js'></script>
<script src='/app/sensor/createSensorController.js'></script>

<% include ../templates/footer.ejs %>
