<% include ../templates/header.ejs %>

<style type="text/css">
#editSensor {
   width:350px;
   margin:0 auto;
}
#left_col {
   float:left;
   width:100px;
}
#right_col {
   float:right;
   width:100px;
}
</style>

<div id="editSensorModal"
     class="modal fade"
     tabindex="-1"
     role="dialog">
  <div id="editSensor"
       class="modal-dialog">
    <div class="modal-content">

      <div class="panel panel-info"
           style="width: 100%;"
           align="left">

        <% include ../templates/modaltitle.ejs %>

        <div class="panel-body" >
          <div class="container">

            <% include ../templates/message.ejs %>

            <form class="navbar-form navbar-left"
                  role="search"
                  method="POST"
                  name="formEditSensor"
                  novalidate="">

              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                  <div class="form-group">
                    <div ng-class="{'has-error': validateSensorNumber.containsValidationError}">

                      <label for="sensorNumber">
                        {{label.createmenu_sensorNumber}}
                      </label>
                      <div style="width: 250px;">
                        <input id="sensorNumber"
                               class="form-control"
                               type="text"
                               placeholder={{label.createmenu_enterSensorNumber}}
                               name="sensorNumber"
                               ng-model="sensorData.sensorNumber"
                               ng-maxlength="40"
                               style="width: 100%;"
                               required>
                        </input>
                      </div
                      <label class="help-block text-danger" for="sensorNumber"
                              data-ng-show="validateSensorNumber.containsValidationError">
                         {{ validateSensorNumber.errorMessage }}
                      </label>

                      <label class="help-block text-danger" for="sensorNumber"
                              data-ng-show="!validateSensorNumber.containsValidationError">
                        <br/>
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                <div class="form-group">
                  <label for="sensorTypeId">
                    {{label.createmenu_sensorModel}}
                  </label>
                  <div style="width: 250px;">
                    <select id="sensorTypeId"
                            class="form-control"
                            name="sensorType"
                            data-ng-model="sensorData.sensorTypeId"
                            style="width: 100%;"
                            required>
                      <option value="">
                        Please select a sensor model !!
                      </option>

                      <option data-ng-repeat = "sensorType in sensorTypes"
                              value = {{sensorType.id}} > {{sensorType.model}}>
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              </div>

              <br/>

              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                  <div class="form-group"
                       style="padding-left: 0%;">
                    <label for="sensorLocation">
                      {{label.createmenu_sensorLocation}}
                    </label>
                    <div style="width: 250px;">
                      <textarea id="sensorLocation"
                                class="form-control"
                                placeholder={{label.createmenu_enterSensorLocation}}
                                name="sensorLocation"
                                rows="2"
                                cols="20"
                                ng-model="sensorData.sensorLocation"
                                style="width: 100%;">
                      </textarea>
                    </div>
                  </div>
                </div>
              </div>

              </br>

              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div  class="modal-footer">
                  <div class="row"
                       align="left">
                    <div class="form-group"
                         style="padding-left: -10%;">
                         <button type="button"
                                 class="btn btn-default"
                                 data-dismiss="modal">
                           {{ label.deleteSensor_close }}
                         </button>
                      <button type="button"
                              class="btn btn-primary"
                              ng-disabled="!formEditSensor.$valid"
                              ng-click="updateSensor(sensorData)">
                        {{label.editmenu_updateSensor}}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
