<style>

</style>

<div class="row">

  <div id="signupUserModal"
     class="modal-dialog">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="form-group">
        <div class="modal-content">

          <div id="signup"
               style="height: 480px;"
               class="center-vertical">

            <div class="panel panel-primary panel-borderless"
                style="width: 100%;
                       height: 480px;
                       overflow-y:hidden;
                       overflow-x:hidden;"
                align="left">

              <!-- preset form values if we receive a userdata object //-->
              <!-- store the userId on the client side in a hidden input field //-->
              <input type="hidden" id="userId">

              <div class="panel-heading " >
                <h2 id="pagename" class="panel-title"> Signup </h2>
              </div>

              <div id="account-form-container" class="center-vertical">

                <form method="post" id="account-form" class="form-horizontal well">
                  <h6 id="sub1">Please tell us a little about yourself</h6>
                  <hr>
                  <div class="form-group">
                    <label class="control-label col-sm-3">Name</label>
                    <div class="col-sm-9">
                      <input id="name-tf" type="text" name="name" class="form-control" vk_19838="subscribed">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-3">Email</label>
                    <div class="col-sm-9">
                      <input id="email-tf" type="text" name="email" class="form-control" vk_19838="subscribed">
                    </div>
                  </div>
                  <hr>
                  <h6 id="sub2">Choose your username &amp; password</h6>
                  <div class="form-group">
                    <label class="control-label col-sm-3">Username</label>
                    <div class="col-sm-9">
                      <input id="user-tf" type="text" name="user" class="form-control disabled" vk_19838="subscribed">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-3">Password</label>
                    <div class="col-sm-9">
                      <input id="pass-tf" type="password" name="pass" value="" class="form-control" vk_19838="subscribed">
                    </div>
                  </div>
                  <hr>
                  <div class="form-buttons">
                    <button type="button" id="account-form-btn1" class="btn btn-default">Cancel</button>
                    <button type="submit" id="account-form-btn2" class="btn btn-primary">Submit</button>
                  </div>
                  <div class="clearfix"></div>
                </form>
              </div>

              <!-- display form errors in a custom modal window //-->
              <div class="modal-form-errors modal fade">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button data-dismiss="modal" class="close">x</button>
                      <h4>Whoops!</h4>
                    </div>
                    <div class="modal-body">It looks like there was a problem.
                      <ul></ul>
                    </div>
                    <div class="modal-footer">
                      <button data-dismiss="modal" class="btn btn-primary">OK</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-alert modal fade">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <!--button.close(data-dismiss='modal') x-->
                      <h4>Account Created!</h4>
                    </div>
                    <div class="modal-body">
                      <p>Your account has been created.<br>Click OK to return to the login page.</p>
                    </div>
                    <div class="modal-footer">
                      <button data-dismiss="modal" id="ok" class="btn btn-primary">OK</button>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
