<style>

</style>

<div class="row">

  <div id="signupUserModal"
     class="modal-dialog">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="form-group" tyle="height: 530px;">
        <div class="modal-content">

          <div id="signup"
               style="height: 530px;"
               class="center-vertical">

            <div class="panel panel-primary panel-borderless"
                style="width: 100%;
                       height: 530px;
                       overflow-y:hidden;
                       overflow-x:hidden;"
                align="left">

              <!-- preset form values if we receive a userdata object //-->
              <!-- store the userId on the client side in a hidden input field //-->
              <input type="hidden" id="userId">

              <div class="panel-heading" >
                <h2 id="pagename" class="panel-title"> Signup </h2>
              </div>


                <form id="account-form"
                      method="post"
                      name="formCreateUser"
                      class="form-horizontal well">
<!--
                  <h6 id="sub1">Please tell us a little about yourself</h6>
                  <hr>
-->

                  <div class="form-group">
                    <label class="control-label col-sm-3">Name</label>
                    <div class="col-sm-9">
                      <input id="name-tf"
                             type="text"
                             name="name"
                             class="form-control"
                             ng-model="userData.name"
                             required>
                      </input>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-sm-3">Email</label>
                    <div class="col-sm-9">
                      <input id="email-tf"
                             type="text"
                             name="email"
                             class="form-control"
                             ng-model="userData.email"
                             required>
                      </input>
                    </div>
                    <label class="control-label col-sm-3"></label>
                    <label class="help-block text-danger col-sm-9" for="email-tf"
                            data-ng-show="validateUserEMail.containsValidationError">
                       {{ validateUserEMail.errorMessage }}
                    </label>

                    <label class="help-block text-danger" for="email-tf"
                            data-ng-show="!validateUserEMail.containsValidationError">
                      <br/>
                    </label>
                  </div>
                  <hr>
<!--
                  <h6 id="sub2">Choose your username &amp; password</h6>
-->
                  <div class="form-group">
                    <label class="control-label col-sm-3">Username</label>
                    <div class="col-sm-9">
                      <input id="user-tf"
                             type="text"
                             name="user"
                             class="form-control disabled"
                             ng-model="userData.username"
                             required>
                      </input>
                    </div>
                  </div>

                  <!-- http://jsfiddle.net/thomporter/UZrex/1/ -->
                  <div class="form-group"
                       style="margin-bottom: 0px"
                       ng-class="{'has-error': isInputInvalid(formCreateUser.password),
                                  'has-success': isInputValid(formCreateUser.password)}">
                    <label class="control-label col-sm-3">Password</label>
                    <div class="col-sm-9">
                      <input id="pass-tf"
                             type="password"
                             name="password"
                             value=""
                             class="form-control"
                             ng-model="userData.password"

                             tooltip
                             data-title="Password"
                             data-content="More stuff here.."
                             data-toggle="popover"
                             data-placement="bottom"
                             data-trigger="hover"

                             ng-minlength="8"
                             ng-maxlength="20"
                             ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/"
                             required>
                    </div>

                    <div class="form-group col-sm-12">
                      <label class="control-label col-sm-4"></label>
                      <div class="progress"
                           style="margin-top: 5px;
                                  margin-bottom: 0px;
                                  height: 5px;
                                  width: 215px;">
                        <div class="progress-bar"
                             ng-class="{'progress-bar-success': isPasswordStrong(),
                                        'progress-bar-warning': isPasswordOk(),
                                        'progress-bar-danger': isPasswordWeak()}"
                             aria-valuenow="passwordStrength"
                             aria-valuemin="0"
                             aria-valuemax="100"
                             style="width: {{ passwordStrength }}%;">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-12"
                       style="margin-top: 0px;
                             height: 50px;
                             align: left;">
                    <div
                         data-ng-show="isPasswordLengthOk(formCreateUser.password)">
                         <h6 style="margin-top: 0px;">Passwords must be between 8 and 20 characters.</h6>
                    </div>
                    <div class="col-sm-12"
                         align="left"
                         data-ng-show="isPasswordPatternOk(formCreateUser.password)">
                         <h6 style="margin-top: 0px;" >Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.).</h6>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-sm-3">Confirm Password</label>
                    <div class="col-sm-9">
                      <input id="confpass-tf"
                             type="password"
                             name="confirmPassword"
                             value=""
                             class="form-control"
                             ng-model="userData.confirmPassword"
                             required
                             match="userData.password">
                    </div>
<!--
<pre><code> {{ registrationForm.confirmPass.$error.match }} </code> </pre>
-->
                  </div>
                  <div class="col-sm-12"
                       style="margin-top: 0px;height: 40px;">
                     <div class="col-sm-12"
                          data-ng-show="isPasswordConfirmOk(formCreateUser.confirmPassword)">
                         <h6 id="sub5" style="margin-top: 0px;" > Not Match </h6>
                     </div>
                  </div>
                  <hr>

                  <div class="form-buttons"
                       align="center">
                    <button type="button" id="account-form-btn1" class="btn btn-default">Cancel</button>
                    <button id="account-form-btn2"
                            type="submit"
                            class="btn btn-primary"
                            ng-disabled="!formCreateUser.$valid"
                            ng-click="signUpUser(userData)">
                      Submit
                    </button>
                  </div>

                  <div class="clearfix"></div>

                </form>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--
<div id="account-form-container" class="center-vertical">
  <button popover-template="'popover.html'"
             popover-placement="bottom"
            popover-trigger="mouseenter"
            type="button"
            class="btn btn-default">Mouse over me</button>
-->
