
<% include ../templates/header.ejs %>

<style type="text/css">
#signupUserModal {
   width:400px;
   margin:0 auto;
}
#left_col {
   float:left;
   width:100px;
}
#right_col {
   float:right;
   width:100px;
}
</style>
<!--
<link type='text/css' rel="stylesheet" href="/stylesheets/login-style.css">
-->

<div  id="signUpUser"
      data-ng-app="userModule"
      data-ng-controller="userController"
      style="display:none">

  <% include ../templates/menu.ejs %>


  <br/>

  <% include ./createUserForm2.ejs %>


</div> <!-- controller -->




<script src='/javascripts/jquery-2.2.4.min.js'></script>
<!--
<script src='/bower_components/jquery/dist/jquery.js'></script>
-->
<script src='/javascripts/jquery.form.min.js'></script>

<!-- Anguler  core -->
<script src='/bower_components/angular/angular.js'></script>
<script src='/bower_components/angular-messages/angular-messages.js'></script>


<!-- GPIO -->
<script src='/app/lang/langModule.js'></script>
<script src="/app/lang/langService.js"></script>
<script src="/app/lang/langJQuery.js"></script>

<script src="/app/user/userModule.js"></script>
<script src="/app/user/userService.js"></script>
<script src="/app/user/userLangController.js"></script>
<script src="/app/user/userController.js"></script>

<script>


</script>

<!--
<script src="/app/socketClient/socketClient.js"></script>
-->
<% include ../templates/footer.ejs %>
