<% include ../templates/header.ejs %>

<style type="text/css">
#createSensorTypeModal {
   width:360px;
   margin:0 auto;
}
#left_col {
   float:left;
   width:100px;
}
#right_col {
   float:right;
   width:100px;
}
</style>


<div id="createSensorType"
     data-ng-app="sensorTypeModule"
     data-ng-controller="createSensorTypeController"
     style="display:none">

  <% include ../templates/menu.ejs %>

  </br>
  <div id="createSensorTypeModal"
       class="modal-dialog">
  <div class="modal-content">

  <div class="panel panel-info"
       style="width: 100%;"
       align="left">

    <% include ../templates/pagetitle.ejs %>

    <div  class="panel-body" >

      <div class="container">

        <% include ../templates/message.ejs %>

        <form class="navbar-form navbar-left"
              role="search"
              method="POST"
              name="formCreateSensorType"
              novalidate="">

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
              <div class="form-group">
                <div ng-class="{'has-error': validateSensorModel.containsValidationError}">
      <!--
formCreateSensorType.sensorModel.$invalid
<pre>formCreateSensorType.sensorModel.$error = {{ formCreateSensorType.sensorModel.$error }}</pre>
-->
                  <label for="sensorModel">
                    {{label.createmenu_sensorModel}}
                  </label>

                  <input id="sensorModel"
                         type="text"
                         class="form-control"
                         placeholder="Enter Sensor Model"
                         name="sensorModel"
                         ng-model="sensorType.sensorModel"
                         ng-maxlength="30"
                         style="width: 100%;"
                         required>
      <!--
                       <div ng-messages="formCreateSensorType.sensorModel.$dirty && formCreateSensorType.sensorModel.$error"
                                   role="alert" style="color:red"  multiple>
                         <div ng-message when="required">Please enter a value for this field.</div>
                         <div ng-message when="maxlength">This field can be at most 15 characters long.</div>
                       </div>
      -->
                  </input>

                  <label class="help-block text-danger" for="sensorModel"
                          data-ng-show="validateSensorModel.containsValidationError">
                     {{ validateSensorNumber.errorMessage }}
                  </label>

                  <label class="help-block text-danger" for="sensorModel"
                          data-ng-show="!validateSensorModel.containsValidationError">
                    <br/>
                  </label>

                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
              <div class="form-group"
                   style="padding-left: 0%;">
                <label for="sensorImage">
                   {{label.createmenu_obs}}
                </label>
                <input id="sensorImage"
                       class="form-control"
                       type="file"
                       placeholder="file name"
                       name="datafile"
                       data-classButton="btn btn-primary"
                       data-input="false"
                       data-classIcon="icon-plus"
                       data-buttonText="Your label here."
                       style="width: 90%;"
                       ng-model="sensorType.sensorFileName"
                       size="10">
              </div>
            </div>
          </div>
          </br>

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
              <div class="form-group" >
                <label for="sensorObs">
                   {{label.createmenu_obs}}
                </label>

                <textarea id="sensorObs"
                          class="form-control"
                          placeholder="Obs"
                          name="sensorObs"
                          rows="2"
                          cols="29"
                          ng-model="sensorType.sensorObs"
                          style="width: 100%;">
                </textarea>
              </div>
            </div>
          </div>
          </br>

          <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            <div class="modal-footer">
              <div class="row"
                   align="center">
                <div class="form-group"
                     style="padding-left: 0%;">
                  <button type="button"
                          class="btn btn-primary"
                          ng-disabled="!formCreateSensorType.$valid"
                          ng-click="createSensorType(sensorType)">
                    {{label.createmenu_createSensorType}}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
  </div>
  </div>
</div>


<script type='text/javascript' src="/javascripts/jquery-2.2.4.min.js"></script>

<!-- JQuery do not work
<script src='/bower_components/jquery/dist/jquery.js'></script>
-->

<!-- Angular core -->
<script src='/bower_components/angular/angular.js'></script>
<script src='/bower_components/angular-messages/angular-messages.js'></script>

<script src='/app/lang/langModule.js'></script>
<script src="/app/lang/langService.js"></script>
<script src="/app/lang/langJQuery.js"></script>

<script src='/app/sensorType/sensorTypeModule.js'></script>
<script src='/app/sensorType/sensorTypeService.js'></script>
<script src='/app/sensorType/sensorTypeLangController.js'></script>
<script src='/app/sensorType/createSensorTypeController.js'></script>

<% include ../templates/footer.ejs %>
