<% include ../templates/header.ejs %>

<style type="text/css">
#editSensorType {
   width:380px;
   margin:0 auto;
}
#left_col {
   float:left;
   width:100px;
}
#right_col {
   float:right;
   width:100px;
}
</style>

<div id="editSensorTypeModal"
     class="modal fade"
     tabindex="-1"
     role="dialog">

  <div id="editSensorType"
       class="modal-dialog">
    <div class="modal-content">

      <div class="panel panel-info"
           style="width: 100%;"
           align="left">

        <% include ../templates/modaltitle.ejs %>

        <div class="panel-body" >

          <div class="container">

            <% include ../templates/message.ejs %>

            <form class="navbar-form navbar-left"
                  role="search"
                  method="POST"
                  name="formEditSensorType"
                  novalidate="">

              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                  <div class="form-group"
                       style="padding-left: 0%;">
                    <div ng-class="{'has-error': validateSensorNumber.containsValidationError}">

                      <br/>

                      <label for="sensorModel">
                        {{label.createmenu_sensorModel}}
                      </label>

                      <input id="sensorModel"
                             type="text"
                             class="form-control"
                             placeholder="Enter Sensor Model"
                             name="sensorModel"
                             ng-model="sensorType.sensorModel"
                             style="width: 100%;"
                             required>

                      </input>

                      <label class="help-block text-danger" for="sensorModel"
                              data-ng-show="validateSensorNumber.containsValidationError">
                         {{ validateSensorNumber.errorMessage }}
                      </label>

                      <label class="help-block text-danger" for="sensorModel"
                              data-ng-show="!validateSensorNumber.containsValidationError">
                        <br/>
                      </label>

                    </div>
                  </div>
                </div>
              </div>

              <div id="sensorImg"
                   class="row">
                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                  <div class="form-group"
                       style="padding-left: 0%;">
                    <label for="sensorImage">
                       {{label.createmenu_fileName}}
                    </label>
                    <input id="sensorImage"
                           class="form-control filestyle"
                           type="file"
                           data-input="true"
                           data-buttonName="btn-primary"
                           data-buttonBefore="true"
                           data-buttonText="{{label.createmenu_findFile}}"
                           data-placeholder="{{label.createmenu_noFile}}"
                           name="datafile"
                           style="width: 100%;"
                           size="30">
                  </div>
                </div>
              </div>
              </br>

              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="form-group"
                       style="padding-left: 0%;">
                    <label for="sensorObs">
                       {{label.createmenu_obs}}
                    </label>

                    <textarea id="sensorObs"
                              class="form-control"
                              placeholder="Obs"
                              name="sensorObs"
                              rows="2"
                              cols="29"
                              ng-model="sensorType.sensorObs"
                              style="width: 100%;"
                              >
                    </textarea>
                  </div>
                </div>
              </div>

              </br>
              <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <div class="modal-footer">
                  <div lass="row"
                       align="center">
                    <div class="form-group"
                         style="padding-left: 0%;">
                      <button type="button"
                             class="btn btn-default "
                             data-dismiss="modal">
                       {{ label.deleteSensor_close }}
                      </button>
                      <button type="button"
                              class="btn btn-primary "
                              ng-disabled="!formEditSensorType.$valid"
                              ng-click="updateSensorType(sensorType)">
                        {{label.editmenu_updateSensorType}}
                      </button>
                    </div>
                  </div>
                 </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
