<div class="alert alert-danger" style="width: 25%;"
     data-ng-show="validationResult.containsValidationError">

  <h7> Please fix the errors before submitting </h7>
  <div>
    <ul id="validationErrorMessage"
        style="color:red; font-family: verdana;">

    </ul>
  </div>
</div>
