

    </div>
        <div id="footer" align="center">
        Footer Msg Teste
<!--
                <img src="/../images/logo.png">
-->
        </div>
    </div>


    <script src='/javascripts/jquery-2.2.3.js'></script>
    <script src='/javascripts/bootstrap.min.js'></script>
    <script src='/javascripts/bootstrap-toggle.min.js'></script>

  </body>
</html>
