

    </div>
        <div id="footer"
             align="center"
             style="display:none">
        Footer Msg Teste
<!--
                <img src="/../images/logo.png">
-->
        </div>
    </div>

    <script type='text/javascript' src='/javascripts/bootstrap.min.js'></script>
    <script type='text/javascript' src='/javascripts/bootstrap-toggle.min.js'></script>

  </body>
</html>
