<!DOCTYPE html>

<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset='UTF-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <title>  RPi GPIO  </title>
    <link type='text/css' rel='stylesheet' href='/stylesheets/style.css' />
    <link type='text/css' rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link type='text/css' rel='stylesheet' href='/stylesheets/bootstrap-modal.css' />
    <link type='text/css' rel='stylesheet' href='/stylesheets/bootstrap-toggle.css' />
  	<link type='text/css' rel="stylesheet" href="/stylesheets/bootstrap-datetimepicker.min.css">

    <link type='text/css' rel='stylesheet' href='/stylesheets/font-awesome-4.6.1/css/font-awesome.min.css' />
</head>

<body>
