<style>
  .toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
  .toggle.ios .toggle-handle { border-radius: 20px; }
</style>

<div id="menuItens"
     class='navbar navbar-default navbar-fixed-top'>
  <div class='container-fluid'>
    <div class='navbar-header'>
      <button type='button'
              class='navbar-toggle'
              data-toggle='collapse'
              data-target='.navbar-collapse'>
        <span class='icon-bar'> </span>
        <span class='icon-bar'> </span>
        <span class='icon-bar'> </span>
      </button>
      <a href='#'
         class='navbar-brand'>
         {{ <%= title %> }}
      </a>
    </div>
    <div class='navbar-collapse collapse'>


      <ul class='nav navbar-nav'>
<!--                    <li><a href='/'>Home</a></li> -->

        <li>
          <div style="padding-top: 10px;">
            <input id="selectLang"
               class='input'
               type="checkbox"
               onchange="setLanguage()"
               data-toggle="toggle"
               data-style="ios"
               data-width="50"
               data-on="PT"
               data-off="EN"
               data-onstyle="success"
               data-offstyle="danger"
               data-size="small">
            </input>
          </div>
        </li>

        <li ><a href='/' ng-cloak>{{ label.menubar_home }}</a></li>

        <li class='dropdown'>

          <a href='#'
             class='dropdown-toggle'
             data-toggle='dropdown'>
            {{ label.menubar_config }}
            <b class='caret'>
            </b>
          </a>
          <ul class='dropdown-menu'>
            <li>
              <a href='/createSensorType'>
                 {{ label.menubar_createSensorType }}
              </a>
            </li>
            <li>
              <a href='/listSensorType'>
                {{ label.menubar_listSensorType }}
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href='/createSensor'>
                {{ label.menubar_createSensor }}
              </a>
            </li>
            <li>
              <a href='/listSensor'>
                {{ label.menubar_listSensor }}
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href='/createUser'>
                {{ label.menubar_createUser }}
              </a>
            </li>
            <li>
              <a href='/listUser'>
                {{ label.menubar_listUser }}
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href='/getCredentials'>
                Google EMail
              </a>
            </li>
          </ul>
        </li> <!-- Config -->

        <li class='dropdown'>
          <a href='#'
             class='dropdown-toggle'
             data-toggle='dropdown'>
            GPIO
            <b class='caret'>
            </b>
          </a>
          <ul class='dropdown-menu'>
              <li>
                <a href='/setAction'>
                  {{ label.menubar_armRPi }}
                </a>
              </li>
              <li>
                <a href='/listAction'>
                  {{ label.menubar_disarmRPi }}
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href='/setGPIO'>
                  {{ label.menubar_setGPIO }}
                </a>
              </li>
              <li>
                <a href='/clearGPIO'>
                  {{ label.menubar_clearGPIO }}
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href='/webIOPi'>
                  {{ label.menubar_webIOPi }}
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href='/createPin'>
                   {{ label.menubar_createPin }}
                </a>
              </li>
              <li>
                <a href='/listPin'>
                  {{ label.menubar_listPin }}
                </a>
              </li>
          </ul>
        </li> <!-- GPIO -->

        <li class='dropdown'>
          <a href='#'
             class='dropdown-toggle'
             data-toggle='dropdown'>
             {{ label.menubar_event }}
             <b class='caret'>
             </b>
          </a>
          <ul class='dropdown-menu'>
            <li>
              <a href='/createEvent'>
                {{ label.menubar_createEvent }}
              </a>
            </li>
            <li>
              <a href='/listEvent'>
                {{ label.menubar_listEvent }}
              </a>
            </li>
          </ul>
        </li> <!-- Events -->

        <li class="divider"></li>
        <li>
          <a href='/login'>
             Login
          </a>
        </li>

        <li>
          <div style="padding-top: 5px;">

            <button id="btnLangPT"
                    class="btn btn-primary"
                    style="display: none;"
                    ng-click="changeLanguage('pt')">
                    PT
            </buton>
            <button id="btnLangEN"
                    class="btn btn-primary"
                    style="display: none;"
                    ng-click="changeLanguage('en')">
                    EN
            </buton>
            <label id="langSelected">
            </label>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
