<% include ../templates/header.ejs %>

<style type="text/css">
#editPin {
   width:340px;
   margin:0 auto;
}
#left_col {
   float:left;
   width:100px;
}
#right_col {
   float:right;
   width:100px;
}
</style>

<div id="editPinModal"
     class="modal fade"
     tabindex="-1"
     role="dialog">

  <div id="editPin"
       class="modal-dialog">
    <div class="modal-content">

      <div class="panel panel-info"
           style="width: 100%;"
           align="left">

        <% include ../templates/modaltitle.ejs %>

        <div class="panel-body" >
          <div class="container">

            <% include ../templates/message.ejs %>

            <form class="navbar-form navbar-left"
                  role="search"
                  method="POST"
                  name="formEditPin"
                  novalidate="">

              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                  <div class="form-group"
                       style="padding-left: 0%;">
                    <div ng-class="{'has-error': validatePinSensorId.containsValidationError}">
                        Pin {{pinData.pinBCM}} -  GPIO {{pinData.pinBOARD}}
                    </div>
                  </div>
                </div>
              </div>

              <br/>

              <div class="row" hidden>
                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                  <div class="form-group"
                       style="padding-left: 0%;">
                    <pre>{{pinData.pinInput || 'null'}}</pre>
                    <pre>{{pinData.pinUsed || 'null'}}</pre>
                  </div>
                </div>
              </div>

              <% include editPinInputToggle.ejs %>
              <% include editPinUsedToggle.ejs %>
              <% include editPinWarnToggle.ejs %>

              <br/>

              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                  <div class="form-group">

                    <label for="pinSensorId">
                      {{label.createmenu_sensorLocation}}
                    </label>

                    <select id="pinSensorId"
                            class="form-control"
                            name="pinSensor"
                            data-ng-model="pinData.pinSensorId"
                            style="width: 100%;"
                            required>
                      <option value="">
                        {{label.createmenu_selectSensor}}
                      </option>

                      <option data-ng-repeat = "sensorData in sensorsData"
                              value = {{sensorData.id}} > {{sensorData.location}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <br/>


              <div id="alarmDuration"
                   class="row">
                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                  <div class="form-group" >
                    <label for="pinAlarmDuration">
                      {{label.createmenu_pinAlarmDuration}}
                    </label>

                    <div id="pinAlarmDuration"
                         class='input-group date'
                         timepicker
                         ng-model="pinData.pinAlarmDuration">
                      <input id="pinAlarmDurationInput"
                             type='text'
                             class="form-control"
                             ng-model="pinData.pinAlarmDuration"
                             readonly
                             required/>
                      <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time">
<!--              <span class="glyphicon glyphicon-calendar"> -->
                        </span>
                      </span>
                    </div>
<!--
                    <input id="pinAlarmDuration"
                           class="form-control"
                           type="number"
                           min="0.0"
                           max="60.0"
                           step="0.1"
                           placeholder={{label.editmenu_enterAlarmDuration}}
                           name="pinAlarmDuration"
                           ng-model="pinData.pinAlarmDuration"
                           ng-maxlength="40"
                           style="width: 100%;"
                           required>
                    </input>
-->
                    <label class="help-block text-danger" for="pinAlarmDuration"
                            data-ng-show="validateAlarmDuration.containsValidationError">
                      <span class="text-danger">
                         {{ validateAlarmDuration.errorMessage }}
                      </span>
                    </label>

                    <label class="help-block text-danger" for="pinAlarmDuration"
                            data-ng-show="!validateAlarmDuration.containsValidationError">
                      <br/>
                    </label>
                  </div>
                </div>
              </div>
              </br>


              <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <div class="modal-footer">
                  <div class="row"
                       align="center">
                    <div class="form-group"
                         style="padding-left: 0%;">
                         <button type="button"
                                 class="btn btn-default"
                                 data-dismiss="modal">
                           {{ label.deletePin_close }}
                         </button>
                      <button id="updatePinButton"
                              type="button"
                              class="btn btn-primary"
                              ng-disabled="!formEditPin.$valid"
                              ng-click="updatePin(pinData)">
                        {{label.editmenu_updatePin}}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
