
<style>

</style>

<div class="row">

  <div id="loginAlarm"
     class="modal-dialog">
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
      <div class="form-group">
        <div class="modal-content">

          <div id="login"
               style="height: 510px;"
               class="center-vertical">

            <form id="form-login"
                  name="loginForm"
                  method="post"
                  class="well">
<!--
<pre><code> {{loginData | json }} </code></pre>
-->
              <div class="modal-header">
                <h2>RPi 3 Alarm</h2>

                <h6>Please Login To Your Account</h6>

                <a href="/auth/facebook"
                   class="btn btn-primary">
                  <span class="fa fa-facebook">
                  </span>
                  Facebook
                </a>
                <a href="/auth/google"
                   class="btn btn-danger">
                  <span class="fa fa-google-plus">
                  </span>
                  Google+
                </a>
              </div>

              <div class="modal-body">
                <div class="form-group">
                  <label>
                    Username
                  </label>
                  <input id="user-tf"
                         type="text"
                         name="user"
                         ng-model="loginData.user"
                         class="form-control"
                         required>
                  </input>
                </div>
                <div class="form-group">
                  <label>
                    Password
                  </label>
                  <input id="pass-tf"
                         type="password"
                         name="pass"
                         ng-model="loginData.password"
                         class="form-control"
                         required>
                </div>
                <div class="controls">
                  <button type="button"
                          class="btn btn-default button-remember-me"
                          ng-click="loginData.rememberMe = !loginData.rememberMe">
                    <span class="glyphicon glyphicon-unchecked button-remember-me-glyph fa-fw">
                    </span>
                      Remember Me
                   </button>
                  <button id="submit"
                          type="submit"
                          class="btn btn-primary button-sign-in"
                          ng-click="loginUser(loginData)"
                          ng-disabled="loginForm.$invalid">
                    <span class="glyphicon glyphicon-lock">
                    </span>
                      Sign In
                  </button>
                </div>
              </div>

              <div class="modal-footer">
                <div class="btm-links">
                  <div id="forgot-password">
                    <a href="#">
                      Forgot Your Password?
                    </a>
                  </div>
                  <div id="create-account">
                    <a href="/signup">
                      Create An Account
                    </a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
