
<% include ../templates/header.ejs %>

<style type="text/css">
#logindiv {
   width:500px;
   margin:0 auto;
}
#left_col {
   float:left;
   width:100px;
}
#right_col {
   float:right;
   width:100px;
}
</style>
<!--
<link type='text/css' rel="stylesheet" href="/stylesheets/login-style.css">
-->

<div  id="index"
      data-ng-app="langModule"
      data-ng-controller="langController"
      data-ng-init="loadLanguage()"
      style="display:none">

  <% include ../templates/menu.ejs %>

  <% include ./loginForm.ejs %>

  <div class="modal-alert modal fade" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <!--button.close(data-dismiss='modal') x-->
          <h4>Whoops!</h4>
        </div>
        <div class="modal-body">Please enter a valid username</div>
        <div class="modal-footer">
          <button data-dismiss="modal" id="ok" class="btn btn-primary">OK</button>
        </div>
      </div>
    </div>
  </div>

  <div id="get-credentials" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button data-dismiss="modal" class="close">x</button>
          <h4>Retrieve Password</h4>
        </div>
        <div class="modal-body">
          <form method="post" id="get-credentials-form" class="well">
            <div class="form-group">
              <label>Please enter the email address associated with your account</label>
              <input type="text" id="email-tf" name="email" class="form-control required" />
              <div class="alert alert-danger hide"></div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button data-dismiss="modal" id="cancel" class="btn btn-default">Cancel</button>
          <button type="submit" id="retrieve-password-submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>


</div> <!-- controller -->


<script src='/javascripts/jquery-2.2.4.min.js'></script>
<!--
<script src='/bower_components/jquery/dist/jquery.js'></script>
-->
<script src='/javascripts/jquery.form.min.js'></script>

<!-- Anguler  core -->
<script src='/bower_components/angular/angular.js'></script>
<script src='/bower_components/angular-messages/angular-messages.js'></script>
<script src="/socket.io/socket.io.js"></script>

<!-- GPIO -->
<script src='/app/lang/langModule.js'></script>
<script src="/app/lang/langController.js"></script>
<script src="/app/lang/langService.js"></script>
<script src="/app/socket/socketService.js"></script>

<script src="/app/lang/langJQuery.js"></script>

<script src="/app/login/loginJQuery.js"></script>
<script src="/app/login/loginJQueryController.js"></script>
<script src="/app/login/loginJQueryValidator.js"></script>
<script src="/app/login/emailJQueryValidator.js"></script>


<script>

// http://developer.telerik.com/featured/building-html5-form-validation-bubble-replacements/
  window.onload = loadListener;

  function listenLoginUser () {

    var input = document.getElementById('user-tf');
    var label = angular.element('#langSelected').scope().label;

    input.addEventListener('invalid', function(e) {
        if(input.validity.valueMissing){
            e.target.setCustomValidity(label.tblData_infoFiltered);
        } else if(!input.validity.valid) {
            e.target.setCustomValidity("This is not a valid username");
        }
        // to avoid the 'sticky' invlaid problem when resuming typing after getting a custom invalid message
        input.addEventListener('input', function(e){
            e.target.setCustomValidity('');
        });
    }, false);
  }

  $('#selectLang').change( function() {
    listenLoginUser();
  });

  function loadListener() {
    setTimeout(function(){

      listenLoginUser();
    }, 200);
  }


</script>


<!--
<script src="/app/socketClient/socketClient.js"></script>
-->
<% include ../templates/footer.ejs %>
